

<div class="home">


    <div class="title">
      <h1>Create great recipe</h1>
    </div>

      <div class="button">
        <button class="btn" ><a href="/recipeAdd">Click to add recipe!</a></button>
      </div>

      <div class="button">
        <button class="btn" ><a href="/recipes">View all your amazing recipes!</a></button>
      </div>

</div>