  <h1>Add recipe ;)</h1>

  <form action="/recipeAdd" method="post">
    <div class="flex-container">

  <div class="flex-box">
    <label for="">Title:</label>
    <input type="text" name="title">
  </div>
  
  <div class="flex-box">
    <label for="">Level:</label>
    <input type="text" name="level">
  </div>
  
  <div class="flex-box">
    <label for="">Ingredients:</label>
    <input type="Array" name="ingredients">
  </div>

  <div class="flex-box">
    <label for="">cuisine:</label>
    <input type="string" name="cuisine">
  </div>
  
  <div class="flex-box">
    <label for="">DishType:</label>
    <input type="string" name="dishType">
  </div>
   
    <button class="btn" type="submit">ADD</button>
  </form>
</div>

